*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.ltjruby
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.xdv

*.otf

*.docx
*.pdf

.DS_Store

.vscode/
codecharts/data/*.txt
codecharts/fonts/
han-overlay/*.png
lxiv/
wenying/fonts/
